*{
    padding: 0px;
    margin: 0px;
}
.border1{
    width:1580px;
    height:50px;
    border:red solid 2px;
}
.tubiao1{
    margin-left:80px;
    margin-top:15px;
}
.line{
    width:2px;
    height:25px;
    background:#171516;
    position: absolute;
    left:200px;
    top:15px;
}
.signle{
    position: absolute;
    left:220px;
    top:18px;
}
.signle a{
    font-size:20px;
    font-weight:bold;
    color: black;
    text-decoration: none;
}
.block1{
    width:520px;
    height:50px;
    position: absolute;
    left:350px;
    top:3px;
    border:yellow solid 2px;
    list-style: none;
}
.block1 li{
    float: left;
    padding: 0 10px;
    line-height: 50px;
    text-align: center; 
    font-size: 12px;
}
.block1 li a{
    text-decoration: none;
    color: black;
}
.list7{
    border: gray solid 2px;
    width:100px;
    height:30px;
    line-height: 30px;
    border-radius: 5px;
}
ul{
    list-style: none;
}
.block2{
    margin-left: 1080px;
    margin-top:0px;
    width:500px;
    height:50px;
    border:blue solid 2px;

}